.chart-container{
    display: flex;
    flex-direction: row;
    height: 200px;
}

.pie-chart{
    display: flex;
    justify-content: center;
    width: 60%;
}

.line-chart{
    display: flex;
    width: 50%;
    align-items: center;
}